.l-header{
  width: 100%;
  position: fixed;
  top:0;
  left:0;
  z-index: 100;
  background-color: #FEFBFB;
}
/*======== NAV ============*/
.nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3rem;
}
@media screen and (max-width:767px) {
  .nav__menu{
    position: fixed;
    top: -100%;
    left: 0;
    right: 0;
    width: 90%;
    margin: 0 auto;
    padding: 2.5rem 0 0;
    text-align: center;
    background-color: #FEFBFB;
    transition: .4s;
    box-shadow: 0 0 4px rgba(0,0,0,.1);
    border-radius: 2rem;
    z-index: 100;
  }
  
}
.nav__item{
  margin-bottom: 1.5rem;
}

.nav__link, .nav__logo, .nav__toggle{
  color: #161212;
  font-weight: 600;
}

.nav__logo{
  display: flex;
  width: 8rem;
}


.nav__link{
  transition: .3s;
}

.nav__link:hover{
  color: #DA2535;
}

.auth{
  font-weight: 600;
  color: #DA2535;
}
.auth:hover{
  color: #C42130;
}
#login{
  margin-left: 1.5rem;
}
#register{
  
  margin-right: 1.5rem;
}

@media screen and (min-width:768px){
  #login{
    margin: 0;
  }
}
.nav__toggle{
  font-size: 1.3rem; 
  cursor:pointer;
}

.show-menu{
  top: calc(3rem + 1rem)
}

.active-link{
  position: relative;
}

.active-link:before{
  content:'';
  position: absolute;
  bottom: -.75rem;
  left: 45%;
  width: 5px;
  height: 5px;
  background-color: #161212;
  border-radius: 50%;
}
.scroll-header{
  box-shadow: 0 1px 4px rgba(0, 0, 0, .1);
}

/*============ Media Querie ================*/

@media screen and (min-width: 768px){
  .nav{
    height: 4.5rem;
  }
  
  .nav__list{
    display: flex;
    align-items: center;
  }

  .nav__item{
    margin-left: 2.5rem;
    margin-bottom: 0;
  }

  .nav__toggle{
    display: none;
  }
}